[Unit]
Description=WizBot 

[Service]
WorkingDirectory=/root
User=root
Type=forking
ExecStart=/usr/bin/tmux new-session -s WizBot -d '/bin/sh WizBotARN.sh'
ExecStop=/bin/sleep 2

[Install]
WantedBy=multi-user.target